HELP.md
*.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/derby.log
alibaba-commons/target/
alibaba-core/target/
alibaba-gateway/target/
alibaba-generator/src/test/
alibaba-generator/target/
alibaba-oauth/target/
alibaba-order/order-api/target/
alibaba-order/order-service/target/
alibaba-register/src/test/
alibaba-register/target/classes/META-INF/
alibaba-register/target/classes/application.properties
alibaba-register/target/classes/com/
alibaba-register/target/classes/logs/
alibaba-register/target/classes/static/console-fe/.babelrc
alibaba-register/target/classes/static/console-fe/.editorconfig
alibaba-register/target/classes/static/console-fe/.eslintignore
alibaba-register/target/classes/static/console-fe/.eslintrc
alibaba-register/target/classes/static/console-fe/.gitignore
alibaba-register/target/classes/static/console-fe/.prettierignore
alibaba-register/target/classes/static/console-fe/.prettierrc
alibaba-register/target/classes/static/console-fe/build/
alibaba-register/target/classes/static/console-fe/package.json
alibaba-register/target/classes/static/console-fe/public/
alibaba-register/target/classes/static/console-fe/src/
alibaba-register/target/classes/static/console-fe/test/.editorconfig
alibaba-register/target/classes/static/console-fe/test/.gitignore
alibaba-register/target/classes/static/console-fe/test/config.json
alibaba-register/target/classes/static/console-fe/test/hosts
alibaba-register/target/classes/static/console-fe/test/install.sh
alibaba-register/target/classes/static/console-fe/test/package.json
alibaba-register/target/classes/static/console-fe/test/run.bat
alibaba-register/target/classes/static/console-fe/test/run.sh
alibaba-register/target/classes/static/console-fe/test/sample/
alibaba-register/target/classes/static/console-fe/tsconfig.json
alibaba-register/target/classes/static/console-fe/yarn.lock
alibaba-register/target/classes/static/css/
alibaba-register/target/classes/static/img/
alibaba-register/target/classes/static/index.html
alibaba-register/target/classes/static/js/
alibaba-register/target/classes/static/login.html
alibaba-register/target/classes/work/
alibaba-register/target/generated-sources/
alibaba-user/user-api/target/
alibaba-user/user-service/target/
logs/
